.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-row {
    flex-wrap: wrap;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-idd6 {
    flex-basis: 17%;
    __p: false;
    background-color: #1c1e2e;
    border: 1px solid #292b3a;
    border-width:;
    border-style:;
    border-color:;
}

#template-itfo {
    flex-basis: 62%;
    __p: false;
    background-color: #1c1e2e;
    transform: translateX(0px) translateY(0px);
}

#template-iziz {
    flex-basis: 21%;
    __p: false;
    background-color: #1c1e2e;
    border: 1px solid #292b3a;
    border-width:;
    border-style:;
    border-color:;
}

#template-idzb {
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
    height: 100vh;
}

#template-ixqf {
    flex-wrap: wrap;
    __p: false;
}

#template-i2gk {
    padding: 10px;
    min-height:;
    __p: false;
}

#template-i2ah {
    color: rgb(99, 95, 115);
    font-size: 15px;
    font-weight: 600;
}

#template-ip9i5 {
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-i1a71 {
    flex-basis: 32%;
    __p: false;
    min-height: 32px;
    height: 32px;
}

#template-izyzy {
    color: black;
    width: 32px;
    __p: false;
}

#template-i2mor {
    min-height: 32px;
    __p: false;
    padding: 5px 0 4px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-iiwkg {
    padding:;
    __p: false;
}

#template-ix09x {
    color: #6e6c79;
    font-size: 15px;
    font-weight: 400;
    __p: false;
}

#template-ia6yq {
    color: black;
    width: 32px;
    __p: false;
}

#template-i2ecy {
    flex-basis: 32%;
    __p: false;
    min-height: 32px;
    height: 32px;
}

#template-igq87 {
    padding:;
    __p: false;
}

#template-iwzvy {
    min-height: 32px;
    __p: false;
    padding: 5px 0 4px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-iuco4 {
    color: rgb(110, 108, 121);
    font-size: 15px;
    __p: true;
}

#template-ixx0h {
    color: black;
    width: 32px;
    __p: false;
}

#template-iv0kt {
    flex-basis: 32%;
    __p: false;
    min-height: 32px;
    height: 32px;
}

#template-igfvq {
    padding:;
    __p: false;
}

#template-i4e57 {
    min-height: 32px;
    __p: false;
    padding: 5px 0 4px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i7r09 {
    color: #e8e7ee;
    font-size: 15px;
    __p: false;
    font-weight: 600;
}

#template-ie28b {
    color: black;
    width: 32px;
    __p: false;
    height: 32px;
}

#template-iusli {
    flex-basis: 32%;
    __p: false;
    min-height: 32px;
    height: 32px;
}

#template-iq2q8 {
    padding:;
    __p: false;
}

#template-iy6je {
    min-height: 32px;
    __p: false;
    padding: 5px 0 4px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-ifs56 {
    color: rgb(110, 108, 121);
    font-size: 15px;
}

#template-iksrh {
    color: black;
    width: 32px;
    __p: false;
}

#template-issmd {
    flex-basis: 32%;
    __p: false;
    min-height: 32px;
    height: 32px;
}

#template-i01e4 {
    padding:;
    __p: false;
}

#template-ilbeg {
    min-height: 32px;
    __p: false;
    padding: 5px 0 4px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-il3ue {
    color: rgb(110, 108, 121);
    font-size: 15px;
}

#template-id40h {
    height:;
    __p: false;
    margin: 99px 0 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    padding: 10px 20px 10px 20px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-irr8c {
    min-height: 50px;
    __p: false;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    border-top-left-radius:;
    border-top-right-radius:;
    border-bottom-right-radius:;
    border-bottom-left-radius:;
    border: 1px solid #292b3a;
    border-width:;
    border-style:;
    border-color:;
    background-color: #232535;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis:;
    max-width:;
}

#template-il2yh {
    padding: 10px 20px 10px 20px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-ichy5 {
    min-height: 30px;
    __p: false;
    height: 30px;
    flex-basis: 30px;
    background-color: #2465fd;
    border: 1px solid #292b3a;
    border-width:;
    border-style:;
    border-color:;
    border-radius: 20% 20% 20% 20%;
    border-top-left-radius:;
    border-top-right-radius:;
    border-bottom-right-radius:;
    border-bottom-left-radius:;
    max-width: 30px;
    text-align: center;
    margin: 6px 0 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    padding: 10px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-ijkdv {
    min-height: 40px;
    __p: false;
    height: 40px;
    flex-basis: 50%;
}

#template-i9qfn {
    color: black;
    background-color:;
    __p: false;
    width:;
    height:;
}

#template-innfz {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    min-height: 23px;
    height: 40px;
}

#template-i2s3s {
    padding: 14px 20px 10px 20px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-iwm3n {
    min-height: 40px;
    __p: false;
    text-align: center;
}

#template-i48ff {
    min-height: 35px;
    __p: false;
    border-radius: 10px 10px 10px 10px;
    border-top-left-radius:;
    border-top-right-radius:;
    border-bottom-right-radius:;
    border-bottom-left-radius:;
    background-color: #8054c7;
    text-align: center;
    height:;
}

#template-igezt {
    height:;
    __p: false;
    padding: 0 5px 0 5px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    min-height:;
    text-align:;
    margin: -6px 0 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-ianqk {
    padding: 8px 0 0 0;
    min-height:;
    __p: false;
    height: 40px;
    color: #ffffff;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    font-size: 15px;
    font-weight: 500;
}

#template-idkek {
    padding: 8px 0 0 0;
    min-height:;
    __p: true;
    height: 40px;
    color: #6e6c79;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    font-size: 15px;
}

#template-iedf1 {
    padding: 8px 0 0 0;
    min-height:;
    __p: true;
    height: 40px;
    color: #6e6c79;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    font-size: 15px;
}

#template-iiiev {
    min-height: 40px;
    __p: false;
    text-align: center;
}

#template-i3yh5 {
    padding: 8px 0 0 0;
    min-height:;
    __p: true;
    height: 40px;
    color: #6e6c79;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    font-size: 15px;
}

#template-iei5v {
    min-height: 40px;
    __p: false;
    text-align: center;
}

#template-iudwx {
    padding: 8px 0 0 0;
    min-height:;
    __p: false;
    height: 40px;
    color: #6e6c79;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    font-size: 15px;
}

#template-ilbd8 {
    min-height: 40px;
    __p: false;
    text-align: center;
}

#template-i4bbxt {
    min-height:;
    __p: false;
    height:;
    border-radius: 10px 10px 10px 10px;
    border-top-left-radius:;
    border-top-right-radius:;
    border-bottom-right-radius:;
    border-bottom-left-radius:;
    border: 1px solid #292b3a;
    border-width:;
    border-style:;
    border-color:;
    background-color: #232535;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    padding: 0 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis:;
    max-width:;
}

#template-i5or3c {
    padding: 10px 20px 10px 20px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-iu134 {
    padding: 0 10px 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
    min-height: 50px;
    height: 50px;
    flex-wrap: nowrap;
}

#template-iw55z {
    min-height: 50px;
    __p: false;
    flex-wrap:;
}

#template-i7wig {
    min-height: 8px;
    __p: true;
    height: 0;
    margin: -4px 0 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    flex-basis:;
    background-color: #2465fd;
    max-width: 8%;
    border-radius: 20px 20px 20px 20px;
    border-top-left-radius:;
    border-top-right-radius:;
    border-bottom-right-radius:;
    border-bottom-left-radius:;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-ioqgs {
    padding: 0 10px 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
    min-height: 1px;
    height: 1px;
    border:;
    border-width:;
    border-style:;
    border-color:;
    background-color: #383b4f;
    margin: 0 10px 0 10px;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-ifklg {
    padding: 10px;
    width: 100px;
    __p: false;
    flex-wrap:;
    color: #ffffff;
    text-align: left;
    float: left;
    max-width: 57px;
    font-weight: 500;
}

#template-ivpewi {
    padding: 10px;
    width: 100px;
    __p: true;
    flex-wrap:;
    color: #6e6c79;
    text-align: left;
    float: left;
    max-width:;
}

#template-ic8762 {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-i91w0i {
    min-height: 50px;
    __p: false;
}

#template-i9g3rh {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-ixhuej {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-ixwuc7 {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-iurwsh {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-iphdax {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-iiv2mo {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-i1dt2k {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-i8wowl {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-iqxkdm {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-ikkqpx {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-icd2dv {
    color: black;
}

#template-idd6 {
    display: none;
    __p: false;
}

#template-iziz {
    display: none;
    __p: false;
}

#template-i4d7ix {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-inltqf {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-icb89m {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-iicopd {
    min-height: 50px;
    __p: false;
}

#template-ifc67q {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i0ekmd {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-iqakax {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-iex9kh {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-i3wxsh {
    color: black;
}

#template-i6539e {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-itdklv {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-iu42jl {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-i0rm76 {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: none;
}

#template-ijmj4h {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-i2veau {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-icwouz {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-iiw1eq {
    min-height: 50px;
    __p: false;
}

#template-icp1yi {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-izhbtk {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-itnnrj {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-i33fdh {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-i5r7ff {
    color: black;
}

#template-ivod8n {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-immxxo {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i3b87k {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-ifb9ab {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: none;
}

#template-id099f {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-irnfah {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-ikxr8g {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-it769t {
    min-height: 50px;
    __p: false;
}

#template-ie9yn3 {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i9vvwm {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-i97b9x {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-ircv5g {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-iou78j {
    color: black;
}

#template-i2uj3k {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-iq4hcf {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-iuvcud {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-i0vt1d {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: none;
}

#template-imacqv {
    min-height: 1px;
    __p: false;
    height: 1px;
    background-color: #292b3a;
}

#template-i0ixyc {
    height: 1px;
    __p: false;
    min-height: 1px;
    padding: 0 10px 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    transform: translateX(0px) translateY(0px);
}

#template-ij5vr9 {
    min-height: 1px;
    __p: false;
    height: 1px;
    background-color: #292b3a;
}

#template-inrh7w {
    height: 1px;
    __p: false;
    min-height: 1px;
    padding: 0 10px 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    transform: translateX(0px) translateY(0px);
}

#template-i3ehsg {
    min-height: 1px;
    __p: false;
    height: 1px;
    background-color: #292b3a;
}

#template-iz27ai {
    height: 1px;
    __p: false;
    min-height: 1px;
    padding: 0 10px 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    transform: translateX(0px) translateY(0px);
}

#template-iixngx {
    height: 1px;
    __p: false;
    min-height: 1px;
    padding: 0 20px 0 20px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-igoawu {
    min-height: 1px;
    __p: false;
    border:;
    border-width:;
    border-style:;
    border-color:;
    background-color: #292b3a;
}

#template-iqmsk3 {
    min-height: 39px;
    __p: false;
    text-align: right;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    padding: 0 10px 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-ihxeci {
    background-color: #2465fd;
    __p: false;
    width: 20%;
    font-weight: 500;
    transform:;
    transform-rotate-x:;
    transform-rotate-y:;
    transform-rotate-z:;
    transform-scale-x:;
    transform-scale-y:;
    transform-scale-z:;
    border-radius: 10px 10px 10px 10px;
    border-top-left-radius:;
    border-top-right-radius:;
    border-bottom-right-radius:;
    border-bottom-left-radius:;
}

#template-iplkex {
    min-height: 40px;
    __p: false;
    height: 40px;
    flex-basis: 20%;
}

#template-it8bl4 {
    background-color: #232736;
    __p: false;
    border: 0 solid #f1f1f1;
    border-width:;
    border-style:;
    border-color:;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    border-top-left-radius:;
    border-top-right-radius:;
    border-bottom-right-radius:;
    border-bottom-left-radius:;
}

#template-ii7cg9 {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-itv0qc {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-ipv7i2 {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-iou7zn {
    min-height: 50px;
    __p: false;
}

#template-ilmtvl {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-iing9a {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-i9eib6 {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-i7yu0c {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-ipzbtf {
    color: black;
}

#template-icpbo1 {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-iijxsa {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i2f3ui {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-ibdmku {
    flex-wrap:;
    __p: false;
    padding: 0 40px 0 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: none;
}

#template-is95ad {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-irq1ql {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-i8ud2w {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-iga35h {
    min-height: 50px;
    __p: false;
}

#template-izsr9v {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-izvpws {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-ig42fg {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-izrou1 {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-ir9ot8 {
    color: black;
}

#template-iv5bwf {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-iu6fp4 {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-io08nc {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-is3p0w {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-i07ru7 {
    min-height: 1px;
    __p: false;
    height: 1px;
    background-color: #292b3a;
}

#template-i5zvcm {
    height: 1px;
    __p: false;
    min-height: 1px;
    padding: 0 10px 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    transform: translateX(0px) translateY(0px);
}

#template-il2yh {
    display: none;
    __p: false;
}

#template-i7wig {
    max-width: 15%;
    __p: false;
}

#template-ihrr9l {
    padding: 0 10px 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-i3pyqy {
    text-align: center;
    __p: false;
}

#template-ir1nd4 {
    padding: 0 10px 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-ims38g {
    color: black;
    height: 168px;
    __p: false;
}

#template-ibsi1l {
    padding: 10px 10px 0 10px;
    font-size: 13px;
    __p: false;
    color: #b3b3b3;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i6jfx3 {
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
    color:;
    background-color: #232736;
}

#template-i72le1 {
    min-height: 1px;
    __p: false;
    height: 1px;
}

#template-ij88vi {
    padding: 10px;
    font-size: 14px;
    __p: false;
    font-weight: 700;
    color: #ffffff;
    letter-spacing:;
    line-height: 17px;
}

#template-iyeyt6 {
    padding: 10px;
    font-size: 14px;
    __p: false;
    font-weight: 500;
    color: #b3b3b3;
    letter-spacing:;
    line-height: 17px;
}

#template-i1rq9h {
    background-color: #1d284c;
    __p: false;
    width: 60%;
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    border-radius: 50px 50px 50px 50px;
    border-top-left-radius:;
    border-top-right-radius:;
    border-bottom-right-radius:;
    border-bottom-left-radius:;
    margin: 16px 0 0 38px;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-i7g2xl {
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-i5or3c {
    padding: 21px 20px 10px 20px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-innfz {
    font-size: 15px;
    __p: false;
}

#template-ianqk {
    display: none;
    __p: false;
}

#template-i48ff {
    display: none;
    __p: false;
}

#template-idkek {
    display: none;
    __p: false;
}

#template-iwm3n {
    display: none;
    __p: false;
}

#template-ihbywk {
    display: none;
    __p: false;
}

#template-ihbywk {
    display: flex;
    __p: false;
    padding: 0 20px 0 20px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-wrap: nowrap;
    text-align:;
}

#template-izjrvv {
    min-height: 50px;
    __p: false;
    flex-basis: 50%;
    text-align: left;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    padding: 12px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-ijvr51 {
    min-height: 40px;
    __p: false;
    text-align: right;
    flex-basis: 50%;
    padding: 5px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i4cp4l {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: right;
    __p: false;
    width: 50%;
    margin: 0 0 0 177px;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-ibb7fq {
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    width:;
}

#template-ijvr51 {
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    __p: false;
    padding: 5px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i4cp4l {
    width: 100%;
    __p: false;
    margin: 9px 0 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-ihbywk {
    padding: 0 20px 0 20px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
    margin: 13px 0 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-izjrvv {
    text-align: right;
    __p: false;
}

#template-i2s3s {
    text-align: right;
    __p: false;
}

#template-i91w0i {
    flex-basis: 55%;
    __p: false;
}

#template-i8wowl {
    width:;
    __p: false;
}

#template-iiv2mo {
    flex-basis: 25%;
    __p: false;
}

#template-inltqf {
    flex-basis: 50%;
    __p: false;
}

#template-irnfah {
    flex-basis: 50%;
    __p: false;
}

#template-i2veau {
    flex-basis: 50%;
    __p: false;
}

#template-irq1ql {
    flex-basis: 50%;
    __p: false;
}

#template-itv0qc {
    flex-basis: 50%;
    __p: false;
}

#template-ikkqpx {
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-i1dt2k {
    flex-basis: 67%;
    __p: false;
    min-height:;
    height:;
}

#template-ic8762 {
    padding: 0 10px 10px 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-icpqcf {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-icpqcf {
    flex-basis: 20%;
    __p: false;
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin: 0 12px 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: block;
}

#template-ixk5w4 {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-ixk5w4 {
    text-align: right;
    __p: false;
}

#template-i2tdr4 {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-i2tdr4 {
    flex-basis: 10%;
    __p: false;
    text-align: right;
    padding: 10px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    display: block;
}

#template-iho3hi {
    color: black;
}

#template-iphdax {
    display: none;
    __p: false;
}

#template-i0rm76 {
    display: none;
    __p: false;
}

#template-i0vt1d {
    display: none;
    __p: false;
}

#template-ifb9ab {
    display: none;
    __p: false;
}

#template-is3p0w {
    display: none;
    __p: false;
}

#template-ibdmku {
    display: none;
    __p: false;
}

#template-iugehk {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-iugehk {
    width:;
    __p: false;
}

#template-idu0kz {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-idu0kz {
    flex-basis: 25%;
    __p: false;
}

#template-i3wchs {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-iebrcj {
    min-height: 50px;
    __p: false;
}

#template-iebrcj {
    flex-basis: 55%;
    __p: false;
}

#template-iisekw {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-iisekw {
    text-align: right;
    __p: false;
}

#template-ihed6h {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-ihed6h {
    flex-basis: 20%;
    __p: false;
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin: 0 12px 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: block;
}

#template-imkmhu {
    color: black;
}

#template-iu261m {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-iu261m {
    flex-basis: 10%;
    __p: false;
    text-align: right;
    padding: 10px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    display: block;
}

#template-i8btvs {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i81fki {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-i54rvk {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-i54rvk {
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-idfb86 {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-idfb86 {
    flex-basis: 67%;
    __p: false;
    min-height:;
    height:;
}

#template-ilhlup {
    color: black;
}

#template-iutgog {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-io3idr {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-is5l0i {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-is5l0i {
    display: none;
    __p: false;
}

#template-i7w3b2 {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-i7w3b2 {
    padding: 0 10px 10px 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-iqxuqm {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-iqxuqm {
    width:;
    __p: false;
}

#template-i7zrty {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-i7zrty {
    flex-basis: 25%;
    __p: false;
}

#template-ifg2tk {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-itkgxb {
    min-height: 50px;
    __p: false;
}

#template-itkgxb {
    flex-basis: 55%;
    __p: false;
}

#template-idn6dk {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-idn6dk {
    text-align: right;
    __p: false;
}

#template-i8w79m {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-i8w79m {
    flex-basis: 20%;
    __p: false;
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin: 0 12px 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: block;
}

#template-ijxdwn {
    color: black;
}

#template-ijl0m6 {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-ijl0m6 {
    flex-basis: 10%;
    __p: false;
    text-align: right;
    padding: 10px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    display: block;
}

#template-ihgwel {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-iptcjl {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-io0xwq {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-io0xwq {
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-ikferk {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-ikferk {
    flex-basis: 67%;
    __p: false;
    min-height:;
    height:;
}

#template-iy7rdl {
    color: black;
}

#template-i91tij {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-if5slv {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-in15ph {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-in15ph {
    display: none;
    __p: false;
}

#template-idj21t {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-idj21t {
    padding: 0 10px 10px 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-i9ffvy {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-i9ffvy {
    width:;
    __p: false;
}

#template-iaupo9 {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-iaupo9 {
    flex-basis: 25%;
    __p: false;
}

#template-i51f2i {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-ipkv8h {
    min-height: 50px;
    __p: false;
}

#template-ipkv8h {
    flex-basis: 55%;
    __p: false;
}

#template-ioemni {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-ioemni {
    text-align: right;
    __p: false;
}

#template-iagk1u {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-iagk1u {
    flex-basis: 20%;
    __p: false;
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin: 0 12px 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: block;
}

#template-iu4sl2 {
    color: black;
}

#template-i1tkdz {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-i1tkdz {
    flex-basis: 10%;
    __p: false;
    text-align: right;
    padding: 10px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    display: block;
}

#template-i3k2zn {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-it93mj {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-id47xs {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-id47xs {
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-iu6mjb {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-iu6mjb {
    flex-basis: 67%;
    __p: false;
    min-height:;
    height:;
}

#template-i7c25o {
    color: black;
}

#template-iny97k {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-ihsxt8 {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-ifai4i {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-ifai4i {
    display: none;
    __p: false;
}

#template-ibjqkj {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-ibjqkj {
    padding: 0 10px 10px 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-iw3ztx {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-iw3ztx {
    width:;
    __p: false;
}

#template-if6mkl {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-if6mkl {
    flex-basis: 25%;
    __p: false;
}

#template-ifz4tn {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-ic2b55 {
    min-height: 50px;
    __p: false;
}

#template-ic2b55 {
    flex-basis: 55%;
    __p: false;
}

#template-io7rbp {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-io7rbp {
    text-align: right;
    __p: false;
}

#template-ipfc59 {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-ipfc59 {
    flex-basis: 20%;
    __p: false;
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin: 0 12px 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: block;
}

#template-itovwy {
    color: black;
}

#template-i6rlst {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-i6rlst {
    flex-basis: 10%;
    __p: false;
    text-align: right;
    padding: 10px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    display: block;
}

#template-ip4c3l {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-id7se3 {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-iqy1qu {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-iqy1qu {
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-iqir6f {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-iqir6f {
    flex-basis: 67%;
    __p: false;
    min-height:;
    height:;
}

#template-ix6nrc {
    color: black;
}

#template-i4suba {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-ikwb9c {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-ixn23l {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-ixn23l {
    display: none;
    __p: false;
}

#template-i7o3ir {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-i7o3ir {
    padding: 0 10px 10px 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-iopybm {
    min-height: 1px;
    __p: false;
    height: 1px;
    background-color: #292b3a;
}

#template-io6g1i {
    height: 1px;
    __p: false;
    min-height: 1px;
    padding: 0 10px 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    transform: translateX(0px) translateY(0px);
}

#template-itc7nz {
    padding: 10px;
    color: #e8e7ee;
    __p: false;
    font-weight: 500;
    font-size: 15px;
}

#template-itc7nz {
    width:;
    __p: false;
}

#template-id6saj {
    min-height: 50px;
    __p: false;
    max-width:;
    flex-basis: 80%;
}

#template-id6saj {
    flex-basis: 25%;
    __p: false;
}

#template-i8w3bz {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-i2f3aa {
    min-height: 50px;
    __p: false;
}

#template-i2f3aa {
    flex-basis: 55%;
    __p: false;
}

#template-iogvgr {
    padding: 10px;
    color: #b3b3b3;
    __p: false;
    font-size: 15px;
}

#template-iogvgr {
    text-align: right;
    __p: false;
}

#template-ig5brt {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-ig5brt {
    flex-basis: 20%;
    __p: false;
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin: 0 12px 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: block;
}

#template-ina77m {
    color: black;
}

#template-i4co59 {
    min-height: 50px;
    __p: false;
    display: none;
}

#template-i4co59 {
    flex-basis: 10%;
    __p: false;
    text-align: right;
    padding: 10px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    display: block;
}

#template-icmwkn {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-izsnef {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
}

#template-i305it {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-size: 15px;
}

#template-i305it {
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-i60qtj {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis:;
}

#template-i60qtj {
    flex-basis: 67%;
    __p: false;
    min-height:;
    height:;
}

#template-i1k5ey {
    color: black;
}

#template-iq0n9u {
    min-height: 50px;
    __p: false;
    text-align: right;
    padding: 10px 0 10px 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    flex-basis: 50%;
}

#template-iyyp82 {
    max-width:;
    __p: false;
    width:;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i7w0o4 {
    flex-wrap: nowrap;
    __p: false;
    transform: translateX(0px) translateY(10px);
    min-height: 50px;
    height:;
}

#template-i7w0o4 {
    display: none;
    __p: false;
}

#template-ich2sf {
    flex-wrap:;
    __p: false;
    padding: 0 40px 10px 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    display: none;
}

#template-ich2sf {
    padding: 0 10px 10px 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
    display: block;
}

#template-ijkdv {
    display: none;
    __p: false;
}

#template-it8bl4 {
    width: 100%;
    __p: false;
    max-width: 100%;
}

#template-iplkex {
    flex-basis:;
    __p: false;
    text-align: right;
    float:;
    margin: 0 0 0 28px;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    max-width: auto;
}

#template-itthd1 {
    padding: 10px;
    color: #ffffff;
    __p: false;
    text-align: left;
}

#template-iqmsk3 {
    text-align: right;
    __p: false;
}

#template-ihxeci {
    width: 50%;
    __p: false;
}

#template-itthd1 {
    padding: 0 0 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-ifxcxd {
    color: rgb(232, 231, 238);
}

#template-ijkdv {
    display: none;
    __p: false;
}

#template-iplkex {
    flex-basis: 50%;
    __p: false;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    padding:;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i9w0nk {
    min-height: 50px;
    __p: false;
    text-align: right;
}

#template-iqdak4 {
    min-height: 50px;
    __p: false;
    text-align: right;
    flex-basis: 20%;
    margin:;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    padding: 5px 0 0 0;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-i8oyqg {
    padding: 10px;
    color: #ffffff;
    __p: false;
    font-weight: 500;
}

#template-i2t9kj {
    color: black;
}

#template-i0o9l {
    min-height: 50px;
    __p: false;
    border-radius: 10px 10px 10px 10px;
    border-top-left-radius:;
    border-top-right-radius:;
    border-bottom-right-radius:;
    border-bottom-left-radius:;
    background-color: #1c2139;
}

#template-i7ut96 {
    min-height: 40px;
    __p: false;
    height: 40px;
    padding: 0 10px 0 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    margin: 5px 0 0 0;
    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
}

#template-ie9i4s {
    min-height: 40px;
    __p: false;
    flex-basis: 70%;
}

#template-ig8xmv {
    min-height: 40px;
    __p: false;
    flex-basis: 30%;
}

#template-if2dbz {
    color: black;
}

#template-i95lcc {
    padding: 5px 0 0 5px;
    background-color:;
    __p: false;
    color: white;
    min-height: 40px;
    height: 40px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
}

#template-iz5gxw {
    padding: 0 10px 10px 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}

#template-ix09fg {
    padding: 0 10px 10px 10px;
    padding-top:;
    padding-right:;
    padding-bottom:;
    padding-left:;
    __p: false;
}