<h2 class="screen-align">Sefscreen</h2>
<div id="template-ihfu" class="gjs-row">
    <div id="template-ipx7s" class="gjs-cell">
        <div id="template-itidt" class="gjs-row">
            <div id="template-i101k" class="gjs-cell">
                <div id="template-i9udb" class="gjs-row">
                    <div id="template-ij2gf" class="gjs-cell">
                        <img id="template-i6tea" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%20955.png"
                        class="" />
                    </div>
                </div>
                <div id="template-i3t03d" class="gjs-row">
                    <div id="template-iqcgok" class="gjs-cell">
                        <div id="template-iksm5k" class="">
                            <div id="template-ics8zi" class="">Menu</div>
                        </div>
                        <div id="template-iafi9r" class="gjs-row">
                            <div id="template-ihsl8y" class="gjs-cell">
                                <img id="template-imwkmk" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home%202.png"
                                class="" />
                            </div>
                            <div id="template-i5ngkf" class="gjs-cell">
                                <div id="template-irfoz6" class="">
                                    <div id="template-i8t6rm" class="">Home</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-iksejd" class="gjs-row">
                            <div id="template-idfdvx" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/community.png"
                                id="template-ic7jrq" class="" />
                            </div>
                            <div id="template-ii6hf9" class="gjs-cell">
                                <div id="template-iy07qd" class="">
                                    <div id="template-iy0044" class="">Community</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-im5afz" class="gjs-row">
                            <div id="template-ikvrxq" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/my%20features.png"
                                id="template-iznksl" class="" />
                            </div>
                            <div id="template-inzi34" class="gjs-cell">
                                <div id="template-ix11rh" class="">
                                    <div id="template-i36n6o" class="">My Features</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-illwvu" class="gjs-row">
                            <div id="template-i8lzr8" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer.png"
                                id="template-isjuyb" class="" />
                            </div>
                            <div id="template-ihfq0q" class="gjs-cell">
                                <div id="template-i1dp4h" class="">
                                    <div id="template-ibrkrj" class="">Trainer</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ihj83x" class="gjs-row">
                            <div id="template-ijjmwg" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile.png"
                                id="template-i3igur" class="" />
                            </div>
                            <div id="template-inpgyv" class="gjs-cell">
                                <div id="template-ifsadf" class="">
                                    <div id="template-ibix17" class="">Profile</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-idw32" class="gjs-row">
            <div id="template-imroo" class="gjs-cell">
                <div id="template-immnr" class="gjs-row">
                    <div id="template-ibxzz" class="gjs-cell">
                        <div id="template-ijx0ff" class="gjs-row">
                            <div id="template-i9eiyb" class="gjs-cell">
                                <div id="template-ic4wga" class="">
                                    <div id="template-ihrwq5" class="">Hi Ragav</div>
                                </div>
                            </div>
                            <div id="template-imi985" class="gjs-cell">
                                <input id="template-ij7ueh" class="undefined undefined" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-i0t6b" class="gjs-row">
                    <div id="template-idz6f" class="gjs-cell">
                        <div id="template-inf72" class="gjs-row">
                            <div id="template-i4ki7" class="gjs-cell">
                                <div id="template-ijplm" class="gjs-row">
                                    <div id="template-iq4lw" class="gjs-cell">
                                        <div id="template-i1ttg" class="gjs-row">
                                            <div id="template-iukq7" class="gjs-cell">
                                                <img id="template-i7qqa" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/nutrition%20icon.png"
                                                class="" />
                                                <div id="template-ipax3" class="">
                                                    <div id="template-i3srd" class="">0</div>
                                                    <br id="template-ic4sv" class=""></br>
                                                </div>
                                                <div id="template-i0aqv" class="">
                                                    <div id="template-iyuow" class="">/ 1000</div>
                                                    <br id="template-iegt2" class=""></br>
                                                    <div id="template-icls8" class="">Cal Intake</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-ika3l" class="gjs-cell">
                                <div id="template-imkpa" class="gjs-row">
                                    <div id="template-ixtcj" class="gjs-cell">
                                        <div id="template-i2bl3" class="gjs-row">
                                            <div id="template-irjjd" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%201149.png"
                                                id="template-i9vox" class="" />
                                                <div id="template-iashf" [(ngModel)]="homedata.waterintake" [ngModelOptions]="{standalone: true}"
                                                class="">
                                                    <div id="template-ile0s" class="">0</div>
                                                    <br id="template-ikmg9" class=""></br>
                                                </div>
                                                <div id="template-idztf" class="">
                                                    <div id="template-ib1p2" class="">/ 1000</div>
                                                    <br id="template-iq55r" class=""></br>
                                                    <div id="template-izbaf" class="">Cal Intake</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-ix086" class="gjs-cell">
                                <div id="template-inmnr" class="gjs-row">
                                    <div id="template-im7bj" class="gjs-cell">
                                        <div id="template-i6wlh" class="gjs-row">
                                            <div id="template-i1qic" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/burned.png"
                                                id="template-ig69l" class="" />
                                                <div id="template-ivji5" class="">
                                                    <div id="template-in60j" class="">0</div>
                                                    <br id="template-i4246" class=""></br>
                                                </div>
                                                <div id="template-ii095" class="">
                                                    <div id="template-i57q1" class="">/ 1000</div>
                                                    <br id="template-ig1dt" class=""></br>
                                                    <div id="template-i0ibf" class="">Cal Intake</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-i0nyg" class="gjs-cell">
                                <div id="template-ia78p" class="gjs-row">
                                    <div id="template-i9yej" class="gjs-cell">
                                        <div id="template-ix964" class="gjs-row">
                                            <div id="template-ijv4t" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/nutrition%20icon.png"
                                                id="template-im0xj" class="" />
                                                <div id="template-i5u9m" class="">
                                                    <div id="template-itiub" class="">0</div>
                                                    <br id="template-id5rj" class=""></br>
                                                </div>
                                                <div id="template-ia76y" class="">
                                                    <div id="template-ioa4o" class="">/ 1000</div>
                                                    <br id="template-ir627" class=""></br>
                                                    <div id="template-iajyi" class="">Cal Intake</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-iwkc7" class="gjs-row">
                    <div id="template-ihe9n" class="gjs-cell">
                        <div id="template-i0s63" class="gjs-row">
                            <div id="template-ieipg" class="gjs-cell">
                                <div id="template-iiieiv" class="gjs-row">
                                    <div id="template-i0sa1b" class="gjs-cell">
                                        <div id="template-iuycd7" class="gjs-row">
                                            <div id="template-iigwx4" class="gjs-cell">
                                                <div id="template-isxc1w" class="">
                                                    <div id="template-iqmdvi" class="">Nutrition Plan</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-ion8qt" class="gjs-cell">
                                        <img id="template-ivw7tn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018295.png"
                                        class="" />
                                        <div id="template-i3ptyu" class="gjs-row"></div>
                                    </div>
                                    <div id="template-i4ldtr" class="gjs-cell">
                                        <div id="template-iswbjc" class="gjs-row">
                                            <div id="template-icv1jp" class="gjs-cell">
                                                <div id="template-i42bfq" class="">
                                                    <div id="template-ikhtyg" class="">Today</div>
                                                    <br id="template-iuajrl" class=""></br>
                                                    <div id="template-iv64q8" class="">monday </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-iam6eg" class="gjs-cell">
                                        <div id="template-iioiai" class="">
                                            <div id="template-ij2kp8" class="">Tue Plan</div>
                                        </div>
                                    </div>
                                    <div id="template-ijqgw1" class="gjs-cell">
                                        <div id="template-iaeiz9" class="">
                                            <div id="template-ifht5t" class="">Wed</div>
                                            <br id="template-iwhmi8" class=""></br>
                                            <div id="template-iiopir" class="">Plan</div>
                                        </div>
                                    </div>
                                    <div id="template-it47yk" class="gjs-cell">
                                        <div id="template-iislxi" class="">
                                            <div id="template-i5g9hp" class="">Thu</div>
                                            <br id="template-ikiiyy" class=""></br>
                                            <div id="template-i1eopi" class="">Plan</div>
                                        </div>
                                    </div>
                                    <div id="template-iev0rn" class="gjs-cell">
                                        <div id="template-ip7n54" class="">
                                            <div id="template-i33e71" class="">Fri</div>
                                            <br id="template-io5xkn" class=""></br>
                                            <div id="template-ii8veg" class="">Plan</div>
                                        </div>
                                    </div>
                                    <div id="template-iyt70c" class="gjs-cell">
                                        <div id="template-imrrwy" class="">
                                            <div id="template-igjz6h" class="">Sat Plan</div>
                                        </div>
                                    </div>
                                    <div id="template-ibc58w" class="gjs-cell">
                                        <div id="template-ivamvw" class="">
                                            <div id="template-imjomr" class="">Sun</div>
                                            <br id="template-if8nrj" class=""></br>
                                            <div id="template-i6atsk" class="">Plan</div>
                                        </div>
                                    </div>
                                    <div id="template-i7jsa1" class="gjs-cell">
                                        <img id="template-i5d5h7" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/right%20side%20icon.png"
                                        class="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ivtuvq" class="gjs-row">
                            <div id="template-i2trwk" class="gjs-cell">
                                <div id="template-i6quqq" class="gjs-row">
                                    <div id="template-iyf14s" class="gjs-cell">
                                        <div id="template-i6r7ih" class="">
                                            <div id="template-iocx54" class="">Recommended Food</div>
                                        </div>
                                    </div>
                                    <div id="template-ivpswb" class="gjs-cell">
                                        <div id="template-ixyta1" class="gjs-row">
                                            <div id="template-irve8t" class="gjs-cell">
                                                <div id="template-iq1j2x" class="">
                                                    <div id="template-ijmxxj" class="">Target</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-i83df3" class="gjs-cell">
                                        <div id="template-ikvd89" class="gjs-row">
                                            <div id="template-i65o0g" class="gjs-cell">
                                                <div id="template-inos8m" class="">
                                                    <div id="template-ih3irc" class="">Consumed</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ib0z93" class="gjs-row">
                            <div id="template-ieibjt" class="gjs-cell">
                                <div id="template-i3wjsj" class="gjs-row">
                                    <div id="template-ippfki" class="gjs-cell">
                                        <div id="template-ikw4pp" class="">
                                            <div id="template-iu49yq" class="">Breakfast (344.5Kcals)</div>
                                        </div>
                                    </div>
                                    <div id="template-ima2iw" class="gjs-cell">
                                        <img id="template-ije4hg" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/arrow.png"
                                        class="" />
                                    </div>
                                </div>
                                <div id="template-igrqfs" class="gjs-row">
                                    <div id="template-io8xao" class="gjs-cell">
                                        <div id="template-iumqnl" class="gjs-row">
                                            <div id="template-ib38yg" class="gjs-cell">
                                                <img id="template-ivbz9u" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dosa.png"
                                                class="" />
                                            </div>
                                            <div id="template-iq3d0s" class="gjs-cell">
                                                <div id="template-ipu0n6" class="">
                                                    <div id="template-iitwrk" class="">Dosa Batter</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-ici3co" class="gjs-row">
                                            <div id="template-imwpuu" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Mask%20Group%2085.png"
                                                id="template-izvzk9" class="" />
                                            </div>
                                            <div id="template-ik9hj9" class="gjs-cell">
                                                <div id="template-ikpecg" class="">
                                                    <div id="template-ihfzks" class="">Ghee</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-i1qieq" class="gjs-row">
                                            <div id="template-irosek" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/milk.png"
                                                id="template-ie5puk" class="" />
                                            </div>
                                            <div id="template-i4m03t" class="gjs-cell">
                                                <div id="template-ifb9jj" class="">
                                                    <div id="template-i83cdy" class="">Milk</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-iopgf8" class="gjs-cell">
                                        <div id="template-iomcav" class="gjs-row">
                                            <div id="template-iiqevk" class="gjs-cell">
                                                <div id="template-ibvg98" class="">
                                                    <div id="template-ivwgmj" class="">80Gm | 121.0Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-iuluso" class="gjs-row">
                                            <div id="template-iddvhg" class="gjs-cell">
                                                <div id="template-iphd0n" class="">
                                                    <div id="template-isl5wf" class="">15Gm | 135Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-i8no86" class="gjs-row">
                                            <div id="template-ixr9id" class="gjs-cell">
                                                <div id="template-i51aqr" class="">
                                                    <div id="template-i49t3s" class="">150Ml | 88.5Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-ig34oi" class="gjs-cell">
                                        <div id="template-ia4iyl" class="gjs-row">
                                            <div id="template-ieqlzg" class="gjs-cell">
                                                <div id="template-id036i" class="">
                                                    <div id="template-ipboi7" class="">P: 3.2g</div>
                                                </div>
                                            </div>
                                            <div id="template-iovmrj" class="gjs-cell">
                                                <div id="template-il2pse" class="">
<span id="template-iz94j2" class="">
<div id="template-i3q7ec" class="">
C: 25.6g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-iv79nk" class="gjs-cell">
                                                <div id="template-ib69wb" class="">
<span id="template-i57d6z" class="">
<div id="template-ifmesc" class="">
F: 0.6g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-irjedv" class="gjs-cell">
                                                <input type="checkbox" id="template-ir6hl9" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                        <div id="template-ivr42q" class="gjs-row">
                                            <div id="template-itt0k9" class="gjs-cell">
                                                <div id="template-icudqb" class="">
                                                    <div id="template-islb9l" class="">P: 0G</div>
                                                </div>
                                            </div>
                                            <div id="template-ikjlbq" class="gjs-cell">
                                                <div id="template-izun5q" class="">
<span id="template-iyprep" class="">
<div id="template-i88017" class="">
C: 0G</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-i4axyj" class="gjs-cell">
                                                <div id="template-imosoc" class="">
<span id="template-ikx7d4" class="">
<div id="template-i7ezo5" class="">
F: 15g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-i3pgvh" class="gjs-cell">
                                                <input type="checkbox" id="template-i1nx0l" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                        <div id="template-iyc0l8" class="gjs-row">
                                            <div id="template-ibnql2" class="gjs-cell">
                                                <div id="template-ihnoq8" class="">
                                                    <div id="template-i7mhsg" class="">P: 4.5G</div>
                                                </div>
                                            </div>
                                            <div id="template-issmsh" class="gjs-cell">
                                                <div id="template-ilhcgy" class="">
<span id="template-iqzmfh" class="">
<div id="template-iby2hj" class="">
C: 7.5G</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-ix1g1f" class="gjs-cell">
                                                <div id="template-ijs3xn" class="">
<span id="template-i9adqz" class="">
<div id="template-i0f4uh" class="">
F: 4.5g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-i94zt8" class="gjs-cell">
                                                <input type="checkbox" id="template-i9b9kb" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ik1gf1" class="gjs-row">
                            <div id="template-inwk9z" class="gjs-cell">
                                <div id="template-ihc4pt" class="gjs-row">
                                    <div id="template-ijlxlf" class="gjs-cell">
                                        <div id="template-iqz517" class="">
                                            <div id="template-ilk18m" class="">Lunch (622.8Kcals)</div>
                                        </div>
                                    </div>
                                    <div id="template-ikb71f" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/arrow.png"
                                        id="template-ikxoil" class="" />
                                    </div>
                                </div>
                                <div id="template-izphuq" class="gjs-row">
                                    <div id="template-ioxmpw" class="gjs-cell">
                                        <div id="template-ikewi4" class="gjs-row">
                                            <div id="template-i741vc" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/egg.png"
                                                id="template-imojjj" class="" />
                                            </div>
                                            <div id="template-ivuppy" class="gjs-cell">
                                                <div id="template-ir7wnt" class="">
                                                    <div id="template-ifelu5" class="">Egg</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-io3d2e" class="gjs-row">
                                            <div id="template-ivtay6" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/rice%20raw.png"
                                                id="template-itpacn" class="" />
                                            </div>
                                            <div id="template-izdju8" class="gjs-cell">
                                                <div id="template-icimna" class="">
                                                    <div id="template-iv9m9x" class="">Rice (Raw)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-ijb2iy" class="gjs-row">
                                            <div id="template-icbrgg" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/olive%20oil.png"
                                                id="template-icx606" class="" />
                                            </div>
                                            <div id="template-inr27f" class="gjs-cell">
                                                <div id="template-ioyn7g" class="">
                                                    <div id="template-i0l58q" class="">Olive Oil</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-im76j3" class="gjs-row">
                                            <div id="template-i78jqj" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Mask%20Group%20-5.png"
                                                id="template-i3y5c2" class="" />
                                            </div>
                                            <div id="template-i8q1n2" class="gjs-cell">
                                                <div id="template-ijev84" class="">
                                                    <div id="template-iwdzhd" class="">Curd (Dhai)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-inukd1" class="gjs-cell">
                                        <div id="template-ict5dy" class="gjs-row">
                                            <div id="template-iyemff" class="gjs-cell">
                                                <div id="template-ikq3wr" class="">
                                                    <div id="template-iu0pua" class="">3Piece | 207Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-iv6sp5" class="gjs-row">
                                            <div id="template-ivi30j" class="gjs-cell">
                                                <div id="template-ip4aqb" class="">
                                                    <div id="template-iejc6z" class="">15Gm | 135Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-iufjvk" class="gjs-row">
                                            <div id="template-iawn5b" class="gjs-cell">
                                                <div id="template-io6shs" class="">
                                                    <div id="template-iii9do" class="">12Gm | 108Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-if575u" class="gjs-row">
                                            <div id="template-iq9hky" class="gjs-cell">
                                                <div id="template-i6uak7" class="">
                                                    <div id="template-ibogpi" class="">150Ml | 88.5Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-igzj3i" class="gjs-cell">
                                        <div id="template-ivyu3j" class="gjs-row">
                                            <div id="template-ikuify" class="gjs-cell">
                                                <div id="template-i8e7an" class="">
                                                    <div id="template-igur7j" class="">P: 3.2g</div>
                                                </div>
                                            </div>
                                            <div id="template-ifp8yo" class="gjs-cell">
                                                <div id="template-ic6rgu" class="">
<span id="template-iqvv1f" class="">
<div id="template-is7b38" class="">
C: 25.6g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-inxxw5" class="gjs-cell">
                                                <div id="template-itkw0w" class="">
<span id="template-iqntsl" class="">
<div id="template-iokjmw" class="">
F: 0.6g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-i3lbtf" class="gjs-cell">
                                                <input type="checkbox" id="template-idyyre" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                        <div id="template-ijnzmf" class="gjs-row">
                                            <div id="template-idkl79" class="gjs-cell">
                                                <div id="template-isd5f4" class="">
                                                    <div id="template-i3y6wg" class="">P: 0G</div>
                                                </div>
                                            </div>
                                            <div id="template-iusk55" class="gjs-cell">
                                                <div id="template-iadonn" class="">
<span id="template-ivtroe" class="">
<div id="template-ikhrzk" class="">
C: 0G</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-i0vhzh" class="gjs-cell">
                                                <div id="template-iq4aif" class="">
<span id="template-iwwu1j" class="">
<div id="template-ilqt55" class="">
F: 15g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-irq8a4" class="gjs-cell">
                                                <input type="checkbox" id="template-i9s6qk" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                        <div id="template-iqfh88" class="gjs-row">
                                            <div id="template-io48vm" class="gjs-cell">
                                                <div id="template-i95k74" class="">
                                                    <div id="template-i605qt" class="">P: 4.5G</div>
                                                </div>
                                            </div>
                                            <div id="template-ixgc0h" class="gjs-cell">
                                                <div id="template-iurjib" class="">
<span id="template-im0zzn" class="">
<div id="template-i0oepe" class="">
C: 7.5G</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-ievios" class="gjs-cell">
                                                <div id="template-i3nrq9" class="">
<span id="template-iwy87k" class="">
<div id="template-ieg5gf" class="">
F: 4.5g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-ihkto2" class="gjs-cell">
                                                <input type="checkbox" id="template-itj8cj" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                        <div id="template-iyov0z" class="gjs-row">
                                            <div id="template-ioy3nl" class="gjs-cell">
                                                <div id="template-i7ltml" class="">
                                                    <div id="template-ii1brn" class="">P: 4.5G</div>
                                                </div>
                                            </div>
                                            <div id="template-i7ocyk" class="gjs-cell">
                                                <div id="template-igy59w" class="">
<span id="template-idzyyn" class="">
<div id="template-ij4r1x" class="">
C: 7.5G</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-id75ej" class="gjs-cell">
                                                <div id="template-iqsvo7" class="">
<span id="template-ixhkmx" class="">
<div id="template-i3yax2" class="">
F: 4.5g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-irjj67" class="gjs-cell">
                                                <input type="checkbox" id="template-iy07mc" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-il1jcf" class="gjs-row">
                            <div id="template-ixsaol" class="gjs-cell">
                                <div id="template-iqzxbf" class="gjs-row">
                                    <div id="template-iali93" class="gjs-cell">
                                        <div id="template-ixgvtw" class="">
                                            <div id="template-i52qdi" class="">Dinner (344.5Kcals)</div>
                                        </div>
                                    </div>
                                    <div id="template-i0fy7u" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/arrow.png"
                                        id="template-iod48k" class="" />
                                    </div>
                                </div>
                                <div id="template-ip7bms" class="gjs-row">
                                    <div id="template-i6nm7l" class="gjs-cell">
                                        <div id="template-idu9z8" class="gjs-row">
                                            <div id="template-i36i0f" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/chicken.png"
                                                id="template-ipy8ol" class="" />
                                            </div>
                                            <div id="template-ir80id" class="gjs-cell">
                                                <div id="template-iudztn" class="">
                                                    <div id="template-is8zy3" class="">Chicken Breast</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-i1h6md" class="gjs-row">
                                            <div id="template-ig334c" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Wheat%20Flour.png"
                                                id="template-irapvn" class="" />
                                            </div>
                                            <div id="template-iqhhsa" class="gjs-cell">
                                                <div id="template-ik13rd" class="">
                                                    <div id="template-i366jp" class="">Wheat Flour</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-i2qxwg" class="gjs-row">
                                            <div id="template-ikipw7" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/olive%20oil.png"
                                                id="template-iyjdph" class="" />
                                            </div>
                                            <div id="template-ihyzwe" class="gjs-cell">
                                                <div id="template-iygrim" class="">
                                                    <div id="template-ibvull" class="">Olive Oil</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-ipt3pc" class="gjs-cell">
                                        <div id="template-inyizk" class="gjs-row">
                                            <div id="template-im01ss" class="gjs-cell">
                                                <div id="template-ihiqo4" class="">
                                                    <div id="template-ir4sc8" class="">200Gm | 254Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-ifx6uw" class="gjs-row">
                                            <div id="template-i43hcq" class="gjs-cell">
                                                <div id="template-is6gqj" class="">
                                                    <div id="template-iqxbnm" class="">65Gm | 224.3Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="template-ijxps5" class="gjs-row">
                                            <div id="template-ikslqe" class="gjs-cell">
                                                <div id="template-imiugh" class="">
                                                    <div id="template-igwh8t" class="">15Gm | 94.5Kcals</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-ith3et" class="gjs-cell">
                                        <div id="template-iyms1l" class="gjs-row">
                                            <div id="template-i8c20j" class="gjs-cell">
                                                <div id="template-i7bka8" class="">
                                                    <div id="template-ik6nqz" class="">P: 3.2g</div>
                                                </div>
                                            </div>
                                            <div id="template-ijbpp2" class="gjs-cell">
                                                <div id="template-iakvik" class="">
<span id="template-ilkx82" class="">
<div id="template-ibeiht" class="">
C: 25.6g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-iihfyp" class="gjs-cell">
                                                <div id="template-ibcv2c" class="">
<span id="template-ijizbt" class="">
<div id="template-i8zshs" class="">
F: 0.6g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-if0dgf" class="gjs-cell">
                                                <input type="checkbox" id="template-i4gtw6" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                        <div id="template-iqmyig" class="gjs-row">
                                            <div id="template-i5cqjf" class="gjs-cell">
                                                <div id="template-imevc3" class="">
                                                    <div id="template-iwaffv" class="">P: 0G</div>
                                                </div>
                                            </div>
                                            <div id="template-ifa7k1" class="gjs-cell">
                                                <div id="template-ikzs5r" class="">
<span id="template-iucfyi" class="">
<div id="template-igu9o9" class="">
C: 0G</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-i7dx2j" class="gjs-cell">
                                                <div id="template-inb11g" class="">
<span id="template-i0zk2h" class="">
<div id="template-igyfyt" class="">
F: 15g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-i81ux3" class="gjs-cell">
                                                <input type="checkbox" id="template-ifh1rl" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                        <div id="template-i95vqh" class="gjs-row">
                                            <div id="template-i6r7h6" class="gjs-cell">
                                                <div id="template-i4earc" class="">
                                                    <div id="template-ijmtbg" class="">P: 4.5G</div>
                                                </div>
                                            </div>
                                            <div id="template-iypj3f" class="gjs-cell">
                                                <div id="template-ihuodt" class="">
<span id="template-iy2jo4" class="">
<div id="template-ikhufy" class="">
C: 7.5G</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-i5bb1h" class="gjs-cell">
                                                <div id="template-im5ccu" class="">
<span id="template-i8xrlc" class="">
<div id="template-iv3xvh" class="">
F: 4.5g</div>
</span>

                                                </div>
                                            </div>
                                            <div id="template-il7r3l" class="gjs-cell">
                                                <input type="checkbox" id="template-ins7it" class="undefined undefined"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-igqrx3" class="gjs-row">
            <div id="template-isne7x" class="gjs-cell">
                <div id="template-iknar6" class="gjs-row">
                    <div id="template-ib9zkp" class="gjs-cell"></div>
                </div>
                <div id="template-i0lpey" class="gjs-row">
                    <div id="template-i47fbh" class="gjs-cell">
                        <div id="template-i2okji" class="">
                            <div id="template-iwwz0j" class="">Your Weekly Target</div>
                        </div>
                        <div id="template-ilifp2" class="">
                            <div id="template-imfepg" class="">May 22-28</div>
                        </div>
                        <div id="template-igs7a3" class="">
                            <div id="template-iq84if" class="">102 Of 150</div>
                        </div>
                        <div id="template-iho3qw" class="">
                            <div id="template-iq6ym4" class="">A weekly target of 150 heart points can help you live longer, sleep better,
                                and improve your mood.</div>
                            <br id="template-iy5fcs" class=""></br>
                        </div>
                        <img id="template-iywj2e" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dash.png"
                        class="" />
                    </div>
                </div>
                <div id="template-io373k" class="gjs-row">
                    <div id="template-ihgg0s" class="gjs-cell">
                        <div id="template-i7ps1i" class="gjs-row">
                            <div id="template-i4henh" class="gjs-cell">
                                <div id="template-i9edck" class="">
                                    <div id="template-i4qlr4" class="">My Goal</div>
                                </div>
                                <div id="template-ifsaek" class="gjs-row">
                                    <div id="template-insrlg" class="gjs-cell">
                                        <img id="template-iq0zi4" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/lines.png"
                                        class="" />
                                    </div>
                                    <div id="template-is4uyg" class="gjs-cell">
                                        <div id="template-iau3ig" class="">
                                            <div id="template-ibf2cr" class="">72</div>
                                        </div>
                                        <div id="template-iagv38" class="">
                                            <div id="template-i4hqxl" class="">You're Here</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>